@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  background-color: azure;
}

* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: rgb(127, 255, 249);
}

.nav-right {
  display: flex;
  align-items: center;
  padding-right: 15rem;
}

.nav-right button {
  background-color: black;
  color: white;
  border: none;
  height: 40px;
  width: 150px;
  text-align: center;
  border-radius: 10px;
  font-weight: bolder;
}

.nav-left img {
  width: 5rem;
}

.nav-left ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 4rem;
  padding: 0.5rem 15rem;
}
a {
  text-decoration: none;
  color: black;
}

.nav-left ul li a:hover {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  border-radius: 8px;
}
.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.contact-form {
  width: 400px;
  background-color: aquamarine;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px rgba(0, 102, 128, 0.5);
}

.form-input {
  border: 1px solid rgb(206, 201, 201);
  border-radius: 5px;
  padding: 7px;
}

.form-field {
  font-weight: large;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-submit-button {
  background-color: black;
  color: white;
  padding: 5px 20px;
  border-radius: 8px;
  width: 130px;
  height: 40px;
}

.form-submit-button:hover {
  background-color: rgb(71, 68, 68);
  outline-color: white;
}

.contact-submit {
  display: flex;
  justify-content: end;
}

textarea {
  height: 100px;
}

input,
select,
textarea {
  box-shadow: 3px 3px 0 0;
}

h1 {
  text-align: center;
}

label {
  font-weight: bold;
}

.nav-right button:hover {
  background-color: rgb(102, 100, 100);
  cursor: pointer;
}

@media only screen and (max-width: 1108px) {
  .nav-left ul {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .nav-right {
    padding-right: 5rem;
  }
}
