{{#> layout title='Home' style='/assets/styles/styles.css'}}
<section id="hero" class="hero">
  <div class="left">
    <div class="desc">
      <h1>Hi Welcome to my hut</h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus dicta
        maiores illum quaerat, voluptates voluptatem reprehenderit non
        blanditiis velit, a earum. Ut mollitia debitis dolore voluptatum. Natus
        illo eum facere. Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Asperiores ipsa adipisci aliquid nemo explicabo veritatis,
        doloribus voluptatibus repellat dicta laborum cupiditate corporis
        inventore vitae nostrum, id facere sed neque excepturi?
      </p>
      <div class="desc-button">
        <button class="btn1">Contact</button>

        <button class="btn2">
          <a href="CV.pdf" target="_blank">download CV
            <i class="fa-solid fa-download"></i>
          </a>
        </button>
      </div>
    </div>
    <div class="contact">
      <ul>
        <li>
          <a href="http://linkedin.com/in/arfiansr" target="_blank">
            <i class="fa-brands fa-linkedin si"></i></a>
        </li>
        <li>
          <a href="http://instagram.com/arfiansr" target="_blank"><i
              class="fa-brands fa-instagram si"
            ></i></a>
        </li>
        <li>
          <a href="http://x.com/develapar" target="_blank"><i
              class="fa-brands fa-twitter si"
            ></i></a>
        </li>
        <li>
          <a href="http://facebook.com/rifai.arfian" target="_blank"><i
              class="fa-brands fa-facebook si"
            ></i></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="card">
    <div class="card-dir">
      <img
      class="hero-img"
        src="https://img.freepik.com/free-photo/view-people-learning-how-make-traditional-sushi-dish_23-2151186458.jpg?ga=GA1.1.925454002.1733145920"
        alt="makan"
      />
      <div class="card-desc">
        <h1>Rhoma Irama</h1>
        <p>Fullstack Developer</p>
      </div>
    </div>
  </div>
</section>
{{/layout}}

